name: Mirror Repo

on:
  push:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  codeburger:
    name: Mirror to Codeburger
    if: github.repository == 'paigely/Navic'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: pixta-dev/repository-mirroring-action@674e65a7d483ca28dafaacba0d07351bdcc8bd75
        with:
          target_repo_url: "git@codeberg.org:paige/Navic.git"
          ssh_private_key: ${{ secrets.CODEBURGER_SSH_PRIVATE_KEY }}
